
@{
    ViewBag.Title = "Index";
    Layout = "";
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <link rel="icon" type="image/png" sizes="16x16" href="~/Content/yachay/assets/favicon.png">
    <title>@ViewBag.Title - Yachay</title>
    @Styles.Render("~/Content/css")

    <link href="~/Content/monster-admin/html/main/css/style.css" rel="stylesheet" />
    <link href="~/Content/monster-admin/html/main/css/colors/default-dark.css" rel="stylesheet" />
    <style>
        #map {
            height: 100%;
        }

        .labels {
            color: white;
            background-color: red;
            font-family: "Lucida Grande", "Arial", sans-serif;
            font-size: 10px;
            text-align: center;
            width: 30px;
            white-space: nowrap;
        }
    </style>

</head>
<body class="">
    <div class="preloader">
        <svg class="circular" viewBox="25 25 50 50">
            <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="2" stroke-miterlimit="10" />
        </svg>
    </div>
    <div id="main-wrapper">
        <div class="container-fluid p-b-0 ">
            <div class="row page-titles">
                <div class="col-md-6 col-sm-12 align-self-center text-md-left text-sm-center">
                    <img src="~/Content/yachay/assets/yachay_logo_1.0.png" class="dark-logo" style="width:106px;height:30px;" />
                </div>
                <div class="col-md-6 col-sm-12 align-self-center text-sm-center">
                    <a class="btn btn-secondary waves-effect waves-light" href="tel:+51910026770" target="_blank"><i class="fa fa-phone"></i> </a>
                    <a class="btn btn-facebook waves-effect waves-light" href="https://www.facebook.com/yachay.digital/" target="_blank"><i class="fa fa-facebook"></i> </a>
                    <a class="btn btn-success waves-effect waves-light" href="https://api.whatsapp.com/send?phone=51910026770" target="_blank"><i class="fa fa-whatsapp"></i> </a>
                    <!---->
                    @*<div class="fb-login-button" data-show-faces="true" data-width="400" data-max-rows="1"></div>*@
                    <div class="fb-login-button" data-max-rows="2" data-size="medium" data-button-type="login_with" data-show-faces="false" data-auto-logout-link="true" data-use-continue-as="false"></div>
                    <!---->
                    <a class="btn btn-success pull-right" href="@Url.Action("Ingresar", "Login")">Ingresar</a>
                </div>
            </div>
            <div class="form-group">
                <div class="input-group">
                    <input id="buscador" type="text" class="form-control" placeholder="Buscar Negocio, producto o servicio">
                    <input id="lat" name="lat" type="hidden">
                    <input id="lng" name="lng" type="hidden">
                    <span class="input-group-btn">
                        <button class="btn btn-info" type="button" onclick="BuscarPalabra($('#lat').val(), $('#lng').val(), $('#buscador').val())">Buscar</button>
                    </span>
                </div>
            </div>
        </div>
        <div style="position:relative; height:calc(100vh - 4em - 144px);">
            <div id="map" class="gmaps" style="z-index: 1; position: absolute; height: 100%; width: 100%; padding: 0px; border-width: 0px; margin: 0px; left: 0px; top: 0px;"></div>
        </div>
    </div>

    @Scripts.Render("~/bundles/jquery")
    <!-- Bootstrap tether Core JavaScript -->
    <script src="~/Content/bootstrap/js/tether.min.js"></script>
    @Scripts.Render("~/bundles/bootstrap")
    <!-- slimscrollbar scrollbar JavaScript -->
    <script src="~/Content/monster-admin/html/main/js/jquery.slimscroll.js"></script>
    <!--Wave Effects -->
    <script src="~/Content/monster-admin/html/main/js/waves.js"></script>
    <!--Menu sidebar -->
    <script src="~/Content/monster-admin/html/main/js/sidebarmenu.js"></script>
    <!--stickey kit -->
    <script src="~/Content/monster-admin/html/assets/plugins/sticky-kit-master/dist/sticky-kit.min.js"></script>
    <!--Custom JavaScript -->
    <script src="~/Content/monster-admin/html/main/js/custom.min.js"></script>
    <!-- ============================================================== -->
    <!-- Style switcher -->
    <!-- ============================================================== -->
    <script src="~/Content/monster-admin/html/assets/plugins/styleswitcher/jQuery.style.switcher.js"></script>

    <script type="text/javascript">
        var map;
        var markers = [];
        var circle;

        var lugares = [];
        $(function () {
        });

        $('#buscador').keyup(function (e) {
            if (e.keyCode == 13) {
                BuscarPalabra($('#lat').val(), $('#lng').val(), $(this).val());
            }
        });

        function BuscarPalabra(latitud, longitud, texto) {
            EliminarRadio();
            deleteMarkers();
            //Nuestros negocios
            BuscarNegocios(latitud, longitud, texto, '@Url.Action("BuscarNegocios", "Mapa")');
            //Facebook 
            BuscarNegocios(latitud, longitud, texto, '@Url.Action("FbGraphRequest", "Mapa")');
        }

        function BuscarNegocios(latitud, longitud, texto, url) {
            $.ajax({
                type: "GET",
                url: url,
                cache: false,
                data: { lat: latitud, lng: longitud, texto: texto },
                dataType: 'json',
                success: function (data) {
                    if (data.listaNodos.length > 0) {
                        addMarkers(data.listaNodos);
                        map.setZoom(17);
                        map.setCenter(new google.maps.LatLng(lugares[0].Direccion_Latitud, lugares[0].Direccion_Longitud));
                    }
                }
            });
        }

        function datosElemento(data) {
            var jsCadena = '<div class="padder">';
            jsCadena += '</div>';
            return jsCadena;
        }

        function initMap() {
            var mapCanvas = document.getElementById("map");

            var myCenter = new google.maps.LatLng(-12.051671, -77.034605);
            var myZoom = 16;
            //Posicion Actual
            if (navigator.geolocation) {
                navigator.geolocation.getCurrentPosition(function (position) {
                    myCenter = new google.maps.LatLng(position.coords.latitude, position.coords.longitude);
                    deleteMarkers();
                    //placeMarker(map, myCenter);
                    GuardarCentro(position.coords.latitude, position.coords.longitude);
                    addYourLocationButton(map);
                });
            } else {
                handleLocationError(false, infoWindow, map.getCenter());
            }

            var mapOptions = { center: myCenter, zoom: myZoom };
            map = new google.maps.Map(mapCanvas, mapOptions);

            //Click center en el mapa
            google.maps.event.addListener(map, 'click', function (event) {
                deleteMarkers();
                placeMarkerText(map, event.latLng, 'Estás aqui.<br>Se mostrarán Negocios que<br> están a 1.5 KM de distancia.');
                GuardarCentro(event.latLng.lat(), event.latLng.lng());
                map.setCenter(event.latLng);
            });


            var lstNodos = [];
            if (lstNodos.length > 0)
            {
                lstNodos = nodosValidados(lstNodos);
            }

            $.each(lstNodos, function (index, item) {
                placeMarkerCustom(map, item);
            });
        }

        function placeMarker(map, location) {
            var marker = new google.maps.Marker({
                position: location,
                map: map
            });
            var infowindow = new google.maps.InfoWindow({
                content: 'Latitud: ' + location.lat() + '<br>Longitud: ' + location.lng()
            });
            infowindow.open(map, marker);
            markers.push(marker);
        }

        function placeMarkerText(map, location, text) {
            var marker = new google.maps.Marker({
                position: location,
                map: map
            });
            var infowindow = new google.maps.InfoWindow({
                content: text
            });
            infowindow.open(map, marker);
            markers.push(marker);
        }

        function placeMarkerCustom(map, item) {
            var location = new google.maps.LatLng(item.Direccion_Latitud, item.Direccion_Longitud);
            var marker = new google.maps.Marker({
                position: location,
                map: map
            });
            var infowindow = new google.maps.InfoWindow({
                content: '<b>' + item.Nombre + '</b>'
            });
            infowindow.open(map, marker);
            markers.push(marker);
        }

        function ObtenerSitios()
        {
            var lista = [];
            var ruta = '@Url.Action("ObtenerSitios", "Mapa")';

            $.ajax({
                type: 'POST',
                url: ruta,
                data: '',
                contentType: 'application/json',
                dataType: 'json',
                async: false,
                success: function (data) {
                    lista = data.lista;
                    return data.lista;
                },
                error: function (xhr, status, error) {
                    return error;
                }
            });
            return lista;
        }

        function nodosValidados(lista) {
            var lstAux = [];

            $.each(lista, function (index, item) {
                if (isLatitude(parseFloat(item.Direccion_Latitud)) && isLongitude(parseFloat(item.Direccion_Longitud))) {
                    lstAux.push(item);
                }
            });
            return lstAux;
        }

        function deleteMarkers() {
            markers.forEach(function (marker) {
                marker.setMap(null);
            });
            markers = [];
        }

        function addMarkers(lstMarkers) {
            $.each(lstMarkers, function (index, item) {
                placeMarkerCustom(map, item);
            });
        }

        function isLatitude(lat) {
            return isFinite(lat) && Math.abs(lat) <= 90;
        }

        function isLongitude(lng) {
            return isFinite(lng) && Math.abs(lng) <= 180;
        }

        function addYourLocationButton(map) {
            var controlDiv = document.createElement('div');

            var firstChild = document.createElement('button');
            firstChild.style.backgroundColor = '#fff';
            firstChild.style.border = 'none';
            firstChild.style.outline = 'none';
            firstChild.style.width = '28px';
            firstChild.style.height = '28px';
            firstChild.style.borderRadius = '2px';
            firstChild.style.boxShadow = '0 1px 4px rgba(0,0,0,0.3)';
            firstChild.style.cursor = 'pointer';
            firstChild.style.marginRight = '10px';
            firstChild.style.padding = '0px';
            firstChild.title = 'Your Location';
            controlDiv.appendChild(firstChild);

            var secondChild = document.createElement('div');
            secondChild.style.margin = '5px';
            secondChild.style.width = '18px';
            secondChild.style.height = '18px';
            secondChild.style.backgroundImage = 'url(https://maps.gstatic.com/tactile/mylocation/mylocation-sprite-1x.png)';
            secondChild.style.backgroundSize = '180px 18px';
            secondChild.style.backgroundPosition = '0px 0px';
            secondChild.style.backgroundRepeat = 'no-repeat';
            secondChild.id = 'you_location_img';
            firstChild.appendChild(secondChild);

            google.maps.event.addListener(map, 'dragend', function () {
                $('#you_location_img').css('background-position', '0px 0px');
            });

            firstChild.addEventListener('click', function () {
                var imgX = '0';
                var animationInterval = setInterval(function () {
                    if (imgX == '-18') imgX = '0';
                    else imgX = '-18';
                    $('#you_location_img').css('background-position', imgX + 'px 0px');
                }, 500);
                if (navigator.geolocation) {
                    navigator.geolocation.getCurrentPosition(function (position) {
                        var latlng = new google.maps.LatLng(position.coords.latitude, position.coords.longitude);
                        EliminarRadio();
                        deleteMarkers();
                        DibujarRadio(map, latlng);
                        placeMarkerText(map, latlng, 'Estás aqui.<br>Se mostrarán Negocios que<br> están a 1.5 KM de distancia.');
                        GuardarCentro(position.coords.latitude, position.coords.longitude);
                        map.setCenter(latlng);
                        clearInterval(animationInterval);
                        $('#you_location_img').css('background-position', '-144px 0px');
                    });
                }
                else {
                    clearInterval(animationInterval);
                    $('#you_location_img').css('background-position', '0px 0px');
                }
            });

            controlDiv.index = 1;
            map.controls[google.maps.ControlPosition.RIGHT_BOTTOM].push(controlDiv);
        }

        function GuardarCentro(lat, lng) {
            $('#lat').val(lat);
            $('#lng').val(lng);
        }

        function DibujarRadio(map, myCenter) {
            var circleOptions = {
                strokeColor: '#2980b9',
                strokeOpacity: 0.8,
                strokeWeight: 2,
                fillColor: '#3498db',
                fillOpacity: 0.05,
                map: map,
                center: myCenter,
                radius: 1500
            };

            circle = new google.maps.Circle(circleOptions);
        }

        function EliminarRadio() {
            if (circle != null) { circle.setMap(null); }
        }

        //Facebook Api
        window.fbAsyncInit = function () {
            FB.init({
                appId: '1972166699717669', // App ID
                status: true, // check login status
                cookie: true, // enable cookies to allow the server to access the session
                xfbml: true  // parse XFBML
            });

            // Additional initialization code here
            FB.Event.subscribe('auth.authResponseChange', function (response) {
                if (response.status === 'connected') {
                    // the user is logged in and has authenticated your
                    // app, and response.authResponse supplies
                    // the user's ID, a valid access token, a signed
                    // request, and the time the access token
                    // and signed request each expire
                    var uid = response.authResponse.userID;
                    var accessToken = response.authResponse.accessToken;
                    //console.log(accessToken);
                    GuardarToken(accessToken);

                    //var list = ['10202876511265943', '1624995590920044'];
                    //list.forEach(function (cadena) {
                    //    facebook_send_message(cadena);
                    //});
                    
                    // TODO: Handle the access token

                } else if (response.status === 'not_authorized') {
                    // the user is logged in to Facebook,
                    // but has not authenticated your app
                } else {
                    // the user isn't logged in to Facebook.
                }
            });
        };

        function facebook_send_message(to) {
            FB.ui({
                app_id: '1972166699717669',
                method: 'send',
                name: "Yachay",
                link: 'https://www.facebook.com/yachay.digital/',
                message: 'necesito una licencia de sql',
                to: to,
                description: 'Yachay Prueba'
            });
        }

        function facebook_send_message2(to) {
            FB.login(function () {
                // Note: The call will only work if you accept the permission request
                FB.api('/me/feed', 'post', { message: 'Hello, world!' });
            }, { scope: 'publish_actions' });
        }

        // Load the SDK Asynchronously
        (function (d) {
            var js, id = 'facebook-jssdk', ref = d.getElementsByTagName('script')[0];
            if (d.getElementById(id)) { return; }
            js = d.createElement('script'); js.id = id; js.async = true;
            //js.src = "//connect.facebook.net/en_US/all.js";
            js.src = "//connect.facebook.net/es_LA/all.js";
            ref.parentNode.insertBefore(js, ref);
        }(document));

        function GuardarToken(token)
        {
            var ruta = '@Url.Action("GuardarToken", "Mapa")';
            var miData = JSON.stringify({ 'token': token });

            $.ajax({
                type: 'POST',
                url: ruta,
                data: miData,
                contentType: 'application/json',
                dataType: 'text',
                async: true,
                success: function (data) {
                    console.log(data)
                },
                error: function (xhr, status, error) {
                    console.log(error);
                }
            });
        }

    </script>

    @Scripts.Render("~/bundles/jquery")
    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyALKJpDPqH74pcAMMT8rcsg6WuO3QhDoaQ&libraries=places&callback=initMap"></script>
</body>
</html>